<h1>Check out these tweets:</h1>

<%= form_tag search_tweets_path, remote: true do |f| %>
  Username: <%= text_field_tag :username %>
  <%= submit_tag "Search" %>

<% end %>

<br>
<div class="tweets"></div>

